<h1>Start Server</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Name</th>
    <th>Status</th>    
    <th>Database</th>
  </tr>
<% @servers.each do |server| %>
  <tr>
    <td><a href="<%=request.protocol %><%=request.host %>:<%= server.values['httpport'] %>"><%=request.protocol %><%=request.host %>:<%= server.values["httpport"] %></a></td>
    <td><%= server.values["name"] %></td>
    <td><%= status(server.values["location"]) %></td>
    <td><%= server.values["db_name"] %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New server', new_server_path %>
